{% extends 'base.html' %}

{% block content %}
  <h1>Edit Review</h1>
  <form action="{{ url_for('edit_review', review_id=review_id) }}" method="post">
    <label for="review_title">Review Title:</label>
    <input type="text" id="review_title" name="review_title" value="{{ review[0] }}" required><br>

    <label for="review_rating">Review Rating:</label>
    <select id="review_rating" name="review_rating" required>
      <option value="1" {% if review.review_rating == 1 %}selected{% endif %}>1</option>
      <option value="2" {% if review.review_rating == 2 %}selected{% endif %}>2</option>
      <option value="3" {% if review.review_rating == 3 %}selected{% endif %}>3</option>
      <option value="4" {% if review.review_rating == 4 %}selected{% endif %}>4</option>
      <option value="5" {% if review.review_rating == 5 %}selected{% endif %}>5</option>
    </select><br>

    <label for="review_description">Review Description:</label>
    <textarea id="review_description" name="review_description" required>{{ review[2] }}</textarea><br>
    
    <input type="hidden" name="review_id" value="{{ review_id }}">  <input type="submit" value="Save Changes">
  </form>
{% endblock %}
