{% extends 'base.html' %}

{% block content %}
    <h1>Edit Movie</h1>
    <form action="{{ url_for('edit_movie', movie_id=movie_id) }}" method="post">
        <label for="movie_year">Movie Year:</label>
        <input type="number" id="movie_year" name="movie_year" value="{{ movie[0] }}" required><br>
        <label for="status_id">Status:</label>
        <select id="status_id" name="status_id">
            {% for status in statuses %}
                <option value="{{ status[0] }}" {% if status[0] == movie[1] %}selected{% endif %}>{{ status[1] }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Update">
    </form>
{% endblock %}
