{% extends 'base.html' %}

{% block content %}
    <h1>{{ movie[1] }} ({{ movie[2] }})</h1>

    <!-- Displaying genres -->
    <p><strong>Genres:</strong>
        {% if genres %}
            {% for genre in genres %}
                {% if not loop.last %}
                    {{ genre[0] }}, 
                {% else %}
                    {{ genre[0] }}
                {% endif %}
            {% endfor %}
        {% else %}
            No genres listed.
        {% endif %}
    </p>

    <!-- Show all the reviews for this movie -->
    {% if reviews %}
        {% for review in reviews %}
            <!-- for loop to display stars? -->
            <!-- Display a Bootstrap card for each review -->
            <div class="card mb-3">
                <div class="card-header">
                  <h5>"{{review[1]}}"</h5>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>"{{review[2]}}"</p>
                    <footer class="blockquote-footer">{{review[-1]}}</footer>
                  </blockquote>
                </div>
              </div>
        {% endfor %}
    {% else %}
        <p>There are no reviews yet for this movie. Be the first!</p>
    {% endif %}

    

    <p><a href="{{ url_for('edit_movie', movie_id=movie[0]) }}">Edit Movie</a></p>
{% endblock %}
